.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;

  &__left,
  &__right {
    padding: 0.8rem 3rem;
    border: 0.2rem solid #14298c;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: 1rem;
  }

  &__icon {
    margin-bottom: -0.2rem;
  }
}
